
.ToDoItem {
    width: 100%;
    height: auto;
    line-height: 2.4rem;
    padding: 10px;
    padding-left: 30px;

    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: whitesmoke;

    display: grid;
    grid-template-columns: 10% 85% 5%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ToDoItem:focus{
    background-color: black;
}

.ToDoItem-p {
    grid-column: 2 / 3;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Permite que el texto haga saltos de línea */
}

.TodoItem-p--complete{
    text-decoration: line-through;
    color: #2a272fd9;
}

/* CHECKOUT  */
.icon-check {
    grid-column: 1 / 2;
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none; /* Oculta el input por defecto */
    border: 1px solid #ff00ff; /* Color neón */
    background: transparent; /* Fondo oscuro */
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    flex-shrink: 0;
    /* box-shadow: 0px 0px 5px #ff00ff; */
}

/* Efecto hover con resplandor */

/* Cuando está activo (checked) */
.icon-check:checked {
    border-color: transparent;
    background: transparent;
    animation: neonBorder 1s  linear;
    transform: scale(1.4);
}
/* Agregar un borde animado neón */
@keyframes neonBorder {
    0% {
        box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff;
    }
    50% {
        box-shadow: 0 0 10px #00f2ff, 0 0 20px #00f2ff;
    }

    100% {
        box-shadow: none;
    }
}
.ToDoItem--check{
    flex-shrink: 0;
    background-color: transparent;
    border: 2px solid rgba(250, 244, 244, 0.753);
    transition: all 0.3s ease-in-out;
    @media(max-width: 1000px){
        background-color: 
        rgba(250, 244, 244, 0.753);
    }
}
/* Icono pixelado cuando se marca */
.icon-check:checked::before {
    content: "✔"; /* Agrega el icono */
    font-family: "Press Start 2P", cursive; /* Fuente pixelada */
    font-size: 1.4rem;
    color: #00f2ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.del-button{
    grid-column: 3 / 4;
    flex-shrink: 0;
    font-size: 1.2rem;
    cursor: pointer;
}
.del-button:hover{
    color: red;
}
.del-button:active{
    transform: scale(0.8);
    transition: 0.8ms ease-in;
}