
.loading{
    overflow: hidden;
    background-image: url('../../assets/retro-loading.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
    position: relative;
    @media(max-width: 500px){
        width: 300px;
        height: 150px;
    }
}

 .loading-span{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(82, 42, 7);
    top: 58%;
    right: 38%;
    animation: loadPoint 1.6s infinite steps(2);
    @media(max-width: 500px){
        width: 9px;
        height: 9px;
    }
}
/* Animación para el parpadeo en el loading */
@keyframes loadPoint {
    0%, 50% { opacity: 1; }  
    51%, 100% { opacity: 0; }
}
