
*{
    box-sizing: border-box;
}

/* =========== HEADER ============= */
/* =========== HEADER ============= */
header{
    height: 3vh;
    height: 3dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    background-color: hsl(239.51deg 100% 23.92%);
}
header p{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    padding-left: 20px;
    font-size: 1.1rem;
}

/* =========== FOOTER ============= */
/* =========== FOOTER ============= */
footer {
    width: 100%;
    height: 100vh;
    padding-right: 20px;
    background-color: #cd7fe4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    font-size: 1rem;

}
.dwm-container{
    display: flex;
    gap: 2px;
    color: whitesmoke;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    text-align: center;
}
.dwm-container a{
    background-image: url('../../assets/icons/cocktail-svgrepo-com.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
/* .dwm-container p{
    width: 1.3rem;
    width: 50%;
    justify-self: flex-start;
    color: whitesmoke;

} */
/* ICONS AND BUTTONS */
.footer-img{
    width: 50px;
    height: 50px;

}
.donate-img{
    cursor: pointer;
}